<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<table id="chat">
    <tr>
        <td>From</td>
        <td>Text</td>
    </tr>
    <tr th:each="message : ${messageList}">
        <th th:text="${message.getFrom()}">User1</th>
        <td th:text="${message.getText()}">Hello</td>
    </tr>
</table>

<form name="message" action="/chat/send" method="post">
    <input title="From" type="text" name="from" th:value="${user}">
    <input title="Text" type="text" name="text">
    <button type="submit">Send</button>
</form>

</body>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">

var timeout = setInterval(reloadChat, 3000);
function reloadChat () {

     $('#chat').load('/chat/{user}');
}
</script>


</html>